html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }
  body * {
    box-sizing: border-box;
    text-decoration: none;
    font-family: adelle-sans; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 1110px;
  margin: auto;
  overflow: hidden;
  padding: 20px 50px; }

.left {
  float: left; }

.right {
  float: right; }

header {
  background-color: #532e60; }
  header .menu {
    width: 70%; }
    header .menu div {
      float: left;
      width: 100%; }
      header .menu div.social li {
        float: right;
        margin-left: 20px; }
        header .menu div.social li a {
          display: block;
          background-image: url(../images/social-icons.png);
          background-repeat: no-repeat;
          width: 31px;
          height: 31px; }
          header .menu div.social li a.linkedin {
            background-position: center center; }
          header .menu div.social li a.facebook {
            background-position: right center; }
          header .menu div.social li a.twitter {
            background-position: left center; }
    header .menu nav {
      float: left;
      width: 100%;
      margin-top: 25px; }
      header .menu nav li {
        float: right;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
        margin-left: 25px;
        cursor: pointer; }
        header .menu nav li a {
          color: #fff;
          font-size: 20px;
          line-height: 24px;
          text-decoration: none; }

p {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: 200; }

h1 {
  font-size: 54px;
  line-height: 65px;
  color: #a1006b;
  border-top: 10px solid #eaab00;
  width: 380px;
  font-weight: bold; }

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  color: #532e60;
  margin-bottom: 15px;
  text-transform: capitalize; }

h4 {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  font-weight: 200;
  margin-top: 15px; }

h5 {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
  margin-bottom: 15px; }

section {
  width: 950px;
  margin: auto;
  overflow: hidden;
  padding: 20px 30px 0; }
  section.border-top {
    border-top: 2px solid #532e60; }
  section .border-top {
    border-top: 1px dashed #000; }
  section .border-right {
    border-right: 1px dashed #000; }
  section .border-bottom {
    border-bottom: 1px dashed #000; }
  section .align-center {
    text-align: center; }
  section li {
    list-style: initial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    color: #000; }
    section li small {
      font-size: 14px;
      line-height: 17px;
      display: block; }
  section > div {
    float: left;
    width: 100%;
    padding: 20px 0; }
    section > div .top-image {
      float: left;
      width: 330px;
      padding-right: 35px;
      text-align: right;
      padding-top: 30px; }
      section > div .top-image img {
        margin-bottom: 30px; }
    section > div .top-text {
      float: left; }
    section > div .col2 {
      width: 50%;
      float: left;
      padding: 20px 20px 20px 0; }
      section > div .col2.last {
        padding-right: 0;
        padding-left: 20px; }
      section > div .col2 .the-image {
        width: 370px;
        margin: auto; }
        section > div .col2 .the-image img {
          margin-bottom: 20px; }
        section > div .col2 .the-image.resume {
          width: 270px;
          float: left; }
      section > div .col2 .the-text {
        float: left; }
        section > div .col2 .the-text.resume {
          padding-left: 10px; }
    section > div .the-image-with-text {
      width: 330px;
      margin: auto;
      padding: 0 15px;
      overflow: hidden; }
      section > div .the-image-with-text img {
        float: left;
        margin-bottom: 30px; }
      section > div .the-image-with-text h2 {
        float: right;
        margin-top: 45px; }

.video-section {
  width: 1110px;
  margin: auto;
  overflow: hidden;
  position: relative;
  cursor: pointer; }
  .video-section .video-icon {
    width: 86px;
    height: 85px;
    background-image: url(../images/play-video.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -43px;
    margin-top: -42.5px;
    z-index: 2; }
  .video-section .overlay {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; }

.main-overlay {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  display: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5; }

.pop-up {
  position: fixed;
  width: 700px;
  height: 500px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  left: 50%;
  margin-left: -350px;
  top: 50%;
  margin-top: -250px;
  z-index: 6;
  display: none; }
  .pop-up iframe {
    height: 100%;
    z-index: 7;
    width: 100%; }

footer {
  background-color: #532e60;
  float: left;
  width: 100%;
  height: 140px;
  margin-top: 5px; }
  footer .button-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-image: url(../images/up.png);
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.8;
    display: none;
    z-index: 4;
    background-color: #fff;
    border-radius: 50%; }
    footer .button-up:hover {
      opacity: 1; }

/*# sourceMappingURL=style.css.map */
